.container{
   width: 800px;
   height: 350px;
   align-items: center;
}
.container.hide{
   height: 0;
}
.container .card{
   background-color: white;
   font-size: 60px;
   overflow: hidden;
   height: 0;
}
.container:hover>*{
   transition: all 0.5s cubic-bezier(.77,0,.18,1);
}
.container .card:hover{
   flex: 2 1 0;
}
.transition, .transition>*{
   transition: all 1.5s cubic-bezier(.77,0,.18,1);
}
