html,body{
   height: 100%;
}
body{
   margin: 0;
}

.transition, .transition *{
   transition: all 0.5s;
}

.bg1{
   background-image: url(./img/1.jpg);
}
.bg2{
   background-image: url(./img/2.jpg);
}
.bg3{
   background-image: url(./img/3.jpg);
}
.bg4{
   background-image: url(./img/4.jpg);
}
.bg1,.bg2,.bg3,.bg4{
   background-size: cover;
   background-position: center;
}

div{
   text-align: center;
   color: white;
   font-size: 60px;
}
