*{
   user-select: none;
}
html,a{
    color: rgba(255,255,255,0.8);
    font-family: Microsoft Yahei;
    text-decoration: none;
}
html{
    background-color: #000;
}
body{
   overflow: hidden;
}
html,body{
   height: 100%;
}
@media screen and (max-width: 420px){
    html{
        font-size: 12px;
    }
}
main{
    transition: all 0.2s;
    transform: translateY(220px);
}
