@import url(./mouse-focus.css);
@import url(./music-list.css);
@import url(./music-upload.css);
@import url(./scrollbar-hidden.css);
@import url(./spectrum-box.css);

*{
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
:root{
   --theme-color: rgba(255,255,255,.5);
}
body{
   overflow: hidden;
}
#app{
   width: 100%;
   height: 100%;
}
