@import url(./button.css);
@import url(./mouse-focus.css);
@import url(./music-list.css);

*{
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
:root{
   --theme-color: rgba(255,255,255,.5);
}
body{
   overflow: hidden;
}
#app{
   width: 90%;
   height: 90%;
}
