.f-box{
   display: flex;
   width: 100%;
   height: 100%;
}
.flex.col{
   flex-direction: column;
}

.flex{
   display: flex;
}

.f-tr,.f-td,.f-box{
   position: relative;
   overflow: hidden;
}

.f-tr, .f-td{
   flex: 1 1 0;
}

.f-tr.hide, .f-td.hide{
   flex-grow: 0;
}

.f-td.active, .f-tr.active{
   flex: 1.2 1 0;
}
@media (hover: hover) {
   .f-td:hover, .f-tr:hover{
      background-color: rgba(255,255,255,0.1)!important;
      cursor: pointer;
   }
}
