.music-list{
   --font-size: 40px;
   --img-space: 20px;
   --img-size: 200px;
}

.music-list .music{
   height: var(--img-size);
   padding: var(--img-space);
   filter: opacity(0.9);
}

.music-list .music .img{
   height: var(--img-size);
   width: var(--img-size);
   border-radius: 50%;
   pointer-events: none;
}
