#music-analysis{
   position: absolute;
   left: -50%;
   right: -50%;
   bottom: -50%;
   top: -50%;
   width: 600px;
   height: 600px;
   margin: auto;
}
.spectrum-box{
   position: relative;
   overflow: hidden;
   transform-style: preserve-3d;
   perspective: 1920px;
}
.spectrum-box img{
   position: absolute;
   left: -50%;
   right: -50%;
   bottom: -50%;
   top: -50%;
   margin: auto;
   width: 200px;
   height: 200px;
   border-radius: 50%;
}
