
#bgm{
   width: 52px;
   height: 52px;
   background-color: orange;
   background-image: url(./img/trumpet.png);
   background-repeat: no-repeat;
   background-position: center;
}
#text-font-size{
   width: 120px;
   height: 52px;
   line-height: 52px;
   font-size: 20px;
   text-align: center;
}
#text-font-size>*{
   flex: 1 0 10px;
}
#text-description{
   background-color: white;
}
#text-increase,#text-decrease{
   background-color: white;
}
#game-status{
   height: 52px;
   width: 52px;
   font-size: 0;
   background-color: orange;
}
#game-status img{
   width: 100%;
   height: 100%;
}
