#bgm{
   width: 40px;
   height: 40px;
   background-color: orange;
   background-image: url(./img/trumpet.png);
   background-repeat: no-repeat;
   background-position: center;
}
#text-font-size{
   text-align: center;
}
#text-font-size>*{
   flex: 1 0 10px;
}
#text-description{
   background-color: white;
}
#text-increase,#text-decrease{
   background-color: orange;
   color: white;
}
#game-status{
   width: 40px;
   height: 40px;
   font-size: 0;
   background-color: orange;
   background-position: center;
}
#game-status.pause{
   background-image: url(./img/pause-middle.png);
}
#game-status.play{
   background-image: url(./img/play-middle.png);
}
