.circular{
   border-radius: 100px;
   border: 2px solid white;
   padding: 5px 10px;
   overflow: hidden;
}
.star-counter{
   text-align: center;
   font-size: 30px;
   background-color: white;
}
.star-counter-value{
   width: 35px;
   color: orange;
}
.star-icon{
   width: 35px;
   height: 35px;
   background-image: url(./img/star-icon.png);
   background-repeat: no-repeat;
   background-size: cover;
}
#star{
   position: absolute;
   left: 300px;
   top: 500px;
}
.game-time{
   font-size: 30px;
   color: white;
   background-color: orange;
}
