#star-counter{
   padding-left: 10px;
   text-align: center;
   font-size: 30px;
   background-color: white;
}
#star-counter-value{
   width: 35px;
   line-height: 52px;
   color: orange;
}
#star-icon{
   width: 35px;
   height: 35px;
   background-image: url(./img/star-icon.png);
   background-repeat: no-repeat;
   background-size: cover;
}
#star{
   position: absolute;
   left: 300px;
   top: 500px;
}
#game-time{
   padding: 0 5px;
   font-size: 40px;
   color: white;
   background-color: orange;
}
