*{
   margin: 0;
   padding: 0;
}
.display-none{
   display: none;
}
.board{
   border-radius: 10px;
   overflow: hidden;
}
.flex{
   display: flex;
}
.flex-align-center{
   align-items: center;
}
.t-a-center{
   text-align: center;
}
.p-center{
   position: absolute;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   top: 50%;
}
.btn{
   position: relative;
   font-size: 30px;

   cursor: pointer;
   overflow: hidden;
   outline: none;
   border: none;
   background-color: #e7c45c;
   transition: all 0.5s;
}
.btn:hover{
   color: white;
   background-color: #f39c12!important;
}
.btn:hover::after{
   content: "";
   width: 0;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   margin: auto;
   background-color: white;
   filter: opacity(0.5);
   animation: broaden 1s;
   animation-fill-mode: forwards;
}
@keyframes broaden {
   0%{
      width: 0;
   }
   50%{
      width: 100%;
   }
   100%{
      width: 100%;
      filter: opacity(0);
   }
}
.title-screen{
   background-image: url(./img/startBackground.jpg);
   background-size: cover;
}
.play-screen{
   overflow: hidden;
}
.gameover-screen{
   color: white;
   bottom: 100%;
}
/* 界面到界面的切换 采用淡入淡出的效果 */
.screen{
   background-color: skyblue;
   filter: opacity(0);
   z-index: 1;
   transition: all 0.5s;
   overflow: hidden;
}
.active{
   filter: opacity(1);
   z-index: 99;
   margin: 0;
   bottom: 0;
}
.title-screen:hover #logo-1{
   transform: translateX(20px);
}
.direction{
   width: 400px;
   line-height: 30px;
   position: absolute;
   right: 0;
   top: 20px;
}
.direction>p{
   padding-left: 10px;
   color: white;
   background-color: #000000aa;
   margin: 5px auto;
   border-radius: 20px 0 0 20px;
   transform: translateX(100%);
}
@keyframes direction-show {
   from{
      transform: translateX(100%);
   }
   to{
      transform: translateX(0);
   }
}
@keyframes direction-hide {
   from{
      transform: translateX(0);
   }
   to{
      transform: translateX(100%);
   }
}
#gameDom{
   width: 1024px;
   height: 768px;

   border: 1px solid red;
}
#screen>*{
   position: absolute;
   width: 100%;
   height: 100%;
}
#gameStart{
   display: block;
   padding: 5px 8px;
   border-radius: 3px;

   /* 不设置宽高将其水平居中 */
   white-space: nowrap;
   transform: translateX(-50%);
   position: absolute;
   left: 50%;
   right: 50%;
   margin: auto;

   bottom: 60px;
}
#logo-1{
   transition: all 0.5s;
   margin-top: 70px;
   transform: translateX(-100%);
}
.logo-2{
   width: 50px;
   height: 106px;
   background-image: url(./img/logo_2.png);
   /* background-size: ; */
   background-position: 0 0;
}
.logo-2:hover{
   background-position: -50px 0;
}
.gameover{
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   background-color: #000000aa;
   z-index: 100;
   overflow: hidden;
}
.gameover-show{
   animation: gameover-show 0.5s forwards;
}
@keyframes gameover-show {
   from{
      width: 0;
      height: 0;
   }
   to{
      width: 100%;
      height: 100%;
   }
}
.dialog{
   width: 300px;
   background-color: white;
   border-radius: 20px;
   padding: 10px;
   text-align: center;
}
.dialog h3{
   margin-top: 10px;
}
.user-continue{
   font-size: 20px;
   margin-top: 20px;
   padding: 5px 10px;
   border-radius: 10px;
}
