:root{
   --example: 100%;
}

.hg-box{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

.hg-tr,.hg-td,.hg-box{
   overflow: hidden;
}

.hg-tr{
   display: flex;
   flex: 1 1 0;
}

.hg-td{
   display: flex;
   flex: 1 1 0;
}

.hg-td:hover{
   flex: 9 1 0;
}

.hg-tr:hover{
   flex: 9 1 0;
}

.hg-td.col{
   flex-direction: column;
}
