:root{
   font-size: 16px;
}
html,body{
   height: 100%;
}
*{
   margin: 0;
   padding: 0;
   text-decoration: inherit;
   list-style: none;
   border: none;
}

.db{
   display: block;
}
.ib{
   display: inline-block;
}


.reveal{
   height: 80%;
   background-color: #00aaffaa;
}
.input-field{
   height: 20%;
   background-color: #fff;
}
.input-field textarea{
   width: 100%;
   height: 100%;
   font-size: 16px;
   resize: none;
}
