*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,dl,ol{
  list-style: none;
}
a{
  text-decoration: inherit;
  color: inherit;
}
button, input, .btn{
  background-color: rgba(255, 255, 255, 0.88);
  border: none;
  border-radius: 3px;
  outline:inherit;
}
button, .btn{
  cursor: pointer;
}

.flex{
  display: flex;
}
.flex-space-around{
  justify-content: space-around;
}
.flex-space-between, .flex-between-x, .flex.between-x{
  justify-content: space-between;
}
.flex-align-item-center{
  align-items: center;
}
.flex-align-item-bottom, .flex.item-bottom{
  align-items: flex-end;
}
.flex.between-y{
  align-content: space-between;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex.item-center{
  align-items: center;
  justify-content: space-between;
}

.with-background-icon{
  display:block;
}
.icon{
  --size: 30px;
  width: var(--size);
  height: var(--size);
  background-size: var(--size);
}
