button{
   outline: none;
   width: 100%;
   padding: 0.5em;
   color: inherit;
   border: inherit;
   font-size: inherit;
   background-color: transparent;
   cursor: pointer;
}
button:hover{
   background-color: inherit;
}
.arrow{
   display: block;
   width: 60px;
   height: 30px;
   position: absolute;
   left: 0;
   top: 50%;
   background-image: url(../IMG/arrow.png);
   background-color: var(--theme-color);
   background-repeat: no-repeat;
   background-position: center;
   border: none;
   border-radius: 50% 50% 0 0 / 100% 100% 0 0;
   transform-origin: center;
   transition: opacity 0.2s;
   cursor: pointer;
}

.music-list .arrow.left{
   filter: opacity(0);
   transform: rotate(-90deg) translateY(-150%);
   pointer-events: none;
}
.music-list .arrow.right{
   filter: opacity(0);
   transform: rotate(90deg) translateY(50%);
}
.music-list:hover .arrow{
   filter: opacity(1);
   pointer-events: auto;
}
