html, body{
   height: 100%;
}
*{
   margin: 0;
   padding: 0;
}
.card-box {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 900px;
  height: 450px;
  user-select: none;
}
.card-box.hide{
   height: 0;
}
.card-box .card{
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  flex: 1 1 0;
  height: 0;
  font-size: 60px;
  color: white;
  background-color: black;
  overflow: hidden;
  transition: all .8s cubic-bezier(.77,0,.18,1);
}
@media (hover: hover) {
  .card-box .card:hover{
    flex: 1 0 400px;
    background-color: rgba(255, 255, 0, 0.8);
    color: rgba(0,0,0,1);
    cursor: pointer;
  }
}
@keyframes headUp {

}
