.card{
  width: 160px;
  margin-bottom: 20px;
  overflow: hidden;
}
.card a{
  display: block;
  width: 100%;
  height: 100%;
}
.card .pic{
  position: relative;
  width: 160px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
}
.card:hover .pic{
  background-color: rgba(0,0,0,.5);
}
.card .lazing-img{
  width: 100%;
  height: 100%;
  position: relative;
}
.card .lazing-img img{
  position: absolute;
  left: 0;
  top: 0;
  transition: all .4s;
}
.card:hover .front-img{
  filter: opacity(0);
}
.card .mask{
  color: white;
}
.card .info{
  padding: 0 5px;
}
.card .info .author, .card .info .online{
  margin-top: auto;
}
.card .online{
  padding-left: 14px;
  background: left center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAKCAYAAABv7tTEAAAAAXNSR0IArs4c6QAAAM1JREFUKBVtjz0KwkAQhUMKi4BCLNJY2EiOY+EBvIKQIrcwpLT2AGmsFcwBBC9gq5WFdSR+b5mFGHbhy868Nz+bKOL0fZ9DAx9DcS4vdGIzW8wrLA3FrTyYww1qmKC7LZq6c8ngIw0aq8mIT1C7EgI9KR3Uez2V53XiBbyVx/D1RuDuApprOmNsA6a0i3Q2ZFwHOCqXsIIX6B/0JKH4CfJm8IAONq7JGguE8Sl8AcYU1nCHvTZVlkiUqcm+oPKNNjzBK9VUQjI0/wrGBvkPlcve4C7jgwAAAAAASUVORK5CYII=);
}
.card .description{
  position: relative;
  height: 40px;
}
.card .title{
  line-height: 20px;
  height: 40px;
  word-wrap: break-word;
  word-break: break-all;
}
.card .sort{
  color: #9ba3ab;
  background-color: #fff;
  transform: translateY(0px);
  transition: all .2s;
}
.card:hover .sort{
  transform: translateY(-20px);
}
/* recommend */
.card .info.recommend{
  width: auto;
  height: 34px;
  left: 0;
  top: 66px;
  line-height: 20px;
  background: linear-gradient(transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 35%,rgba(0,0,0,.6) 65%,rgba(0,0,0,.9));
}
.card:hover .info.recommend{
  height: 100%;
  top: 0;
  background: rgba(0,0,0,.7);
}
.card .recommend .title{
  padding: 10px 0 5px 0
}
.card .info.recommend .author, .card .info.recommend .play {
  color: transparent;
  transition: color .4s;
  white-space: nowrap;
}
.card:hover .info.recommend .author, .card:hover .info.recommend .play{
  color: #99a2aa;
}

/* promotion */
.card-promotion .mask{
  transition: all 0.4s;
}
.card-promotion:hover .title{
  color: #00a1d6;
}
.card-promotion:hover .mask{
  background: rgba(0,0,0,.2);
}
.card-promotion .info{
  width: 100%;
}
