.primary-menu{
  height: 60px;
}
.primary-menu .menu-content{

}
.primary-menu .count{
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: white;
}
.primary-menu .count>span{
  display: inline-block;
  height: 12px;
  line-height: 12px;
  padding: 2px;
  border-radius: 4px;
  background-color: #ffafc9;
  vertical-align: middle;
}
.primary-menu .home{
  height: 24px;
  background: url(./img/icons.png) -660px -1170px no-repeat;
}
