.searchForm{
  border-radius: 3px;
  overflow: hidden;
  transition: background-color .4s;
}
.searchForm:hover{
  background-color: rgba(255, 255, 255, 0.95)
}
.searchForm>*{
  border-radius: unset;
}
.searchForm input{
  display: block;
  width: 200px;
  padding: 0 12px;
  font-size: 12px;
}
.searchForm .search-icon{
  display: block;
  box-sizing: border-box;
  width: 48px;
  font-size: 12px;
  background-image: url(./img/icons.png);
  background-position: -653px -720px;
}
.searchForm .search-icon:hover{
  background-position: -718px -720px;
}
