.zone-wraper{
  margin-bottom: 20px;
}
.zone-wraper .left{
  margin-right: 10px;
}
.zone-wraper .right{
  margin-left: 10px;
}
.zone-wraper .top{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-end;
}
